@model List<thewayshop.ViewModel.TypeGroup>
@{
  var tgs = Model;
  var selectedType = ViewBag.selectedType;
}

@foreach (var tg in tgs)
{
  var productCount = tg.Types.Aggregate(0, (sum, t) => sum + t.Count);

  <div class="list-group-collapse sub-men">
    <a class="list-group-item list-group-item-action" href="#@tg.Id" data-toggle="collapse">
      @tg.Name <small class="text-muted">(@productCount)</small>
    </a>
    @{
      var showClassStr = tg.Types.Exists(t => t.Id == selectedType) ? "show" : "";
    }
    <div class="collapse @showClassStr" id="@tg.Id" data-parent="#list-group-men">
      <div class="list-group">
        @foreach (var t in tg.Types)
        {
          var activeClassStr = (t.Id == selectedType) ? "active" : "";

          <a href=@Url.Action("Filter", "Product", new {typeId = t.Id}) class="list-group-item list-group-item-action @activeClassStr">
            @t.Name <small class="text-muted">(@t.Count)</small>
          </a>
        }
      </div>
    </div>
  </div>
}