@model thewayshop.ViewModel.SignupUser

@{
  ViewBag.Title = "Sign Up Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>My Account</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">User</a>
          </li>
          <li class="breadcrumb-item active">Sign Up</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End All Title Box -->
<!-- Start Sign Up -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h1 class="text-center font-weight-bold m-4">New User Signup!</h1>
      @using (Html.BeginForm("SignUp", "User", FormMethod.Post))
      {
        <div class="my-3">
          @Html.ValidationMessage("unavailable", new { @class = "text-danger" })
        </div>
        <div class="form-group">
          @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User Name *", @class = "form-control" })
          @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.PasswordFor(m => m.Password, new { @placeholder = "Password *", @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">

          @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password *", @class = "form-control" })
          @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email *", @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Phone Number *", @class = "form-control" })
          @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })

        </div> <div class="form-group">
          @Html.TextBoxFor(m => m.Address, new { @placeholder = "Address (Optional)", @class = "form-control" })
        </div>
        <div class="d-flex justify-content-center m-4">
          <button type="submit" class="btn btn-danger" value="Register">Sign Up</button>
        </div>
      }
    </div>
  </div>
</div>
<!--End Sign Up-->