@using thewayshop.Controllers
@model List<thewayshop.Models.SanPham>
@{
  var products = Model;
}

<!-- Start Slider -->
@Html.Partial("_Slider")
<!-- End Slider -->

<!-- Start Categories  -->
@Html.Action("HomePage", "Category")
<!-- End Categories -->

<!-- Start Products  -->
<div class="products-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-all text-center">
          <h1>Featured Products</h1>
          <p>We truly guarantee our customers the best products.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="special-menu text-center">
          <div class="button-group filter-button-group">
            <button class="active" data-filter="*">All</button>
            <button data-filter=".top-featured">New</button>
            <button data-filter=".best-seller">Sale Off</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row special-list">

      @for (var i = 0; i < products.Count; i++)
      {
        if (products[i].LayLoaiTrungBay() == ShowcaseType.New)
        {
          <div class="col-lg-3 col-md-6 special-grid top-featured">
            <div class="products-single fix">
              <div class="box-img-hover">
                <div class="type-lb">
                  <p class="new">New</p>
                </div>
                <img src="@products[i].HinhAnh01" class="img-fluid img-cover" alt="Image">
                <div class="mask-icon">
                  <ul>
                    <li>
                      <a href=@Url.Action("Details", "Product", new { id = products[i].MaSP}) data-toggle="tooltip" data-placement="right" title="View">
                        <i class="fas fa-eye"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" data-toggle="tooltip" data-placement="right" title="Compare">
                        <i class="fas fa-sync-alt"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist">
                        <i class="far fa-heart"></i>
                      </a>
                    </li>
                  </ul>
                  <a class="cart" href="#">Add to Cart</a>
                </div>
              </div>
              <div class="why-text">
                <h4>@Utility.StringCapitalise(products[i].TenSP)</h4>
                <h5> $@products[i].GiaThuc</h5>
              </div>
            </div>
          </div>
        }
        else if (products[i].LayLoaiTrungBay() == ShowcaseType.Sale)
        {
          <div class="col-lg-3 col-md-6 special-grid best-seller">
            <div class="products-single fix">
              <div class="box-img-hover">
                <div class="type-lb">
                  <p class="sale">Sale</p>
                </div>
                <img src="@products[i].HinhAnh01" class="img-fluid img-cover" alt="Image">
                <div class="mask-icon">
                  <ul>
                    <li>
                      <a href=@Url.Action("Details", "Product", new { id = products[i].MaSP}) data-toggle="tooltip" data-placement="right" title="View">
                        <i class="fas fa-eye"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" data-toggle="tooltip" data-placement="right" title="Compare">
                        <i class="fas fa-sync-alt"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist">
                        <i class="far fa-heart"></i>
                      </a>
                    </li>
                  </ul>
                  <a class="cart" href="#">Add to Cart</a>
                </div>
              </div>
              <div class="why-text">
                <h4>@Utility.StringCapitalise(products[i].TenSP)</h4>
                <h5> $@products[i].GiaThuc</h5>
              </div>
            </div>
          </div>
        }

        //add line breaks to horizontally align items in each row 
        if (i % 4 == 3)
        {
          <div class="d-none d-lg-block col-12 special-grid"></div>
          <div class="d-none d-md-block d-lg-none col-12 special-grid"></div>
        }
        else if (i % 2 == 1)
        {
          <div class="d-none d-md-block d-lg-none col-12 special-grid"></div>
        }
      }
    </div>
  </div>
</div>
<!-- End Products  -->

<!-- Start Blog  -->
@Html.Partial("_Blog");
<!-- End Blog  -->